<header>
<!-- <form class='log_form' action='/login'> -->



{{#if credentials.username}}
  <h1>Welcome back {{credentials.username}}!</h1>

  <!-- <a href="/logout" class='log_button'>
  <button type="submit" >Log Out!</button>
  </a> -->

  <a href="/logout">Log Out!</a>

  <a href="/post">Post joke</a>

{{else}}

  <!-- <a href="/" class='log_button'>
  <button class='log_button' type="submit">Log In!</button>
  </a> -->

  <a href="/login">Log In!</a>

{{/if}}



<!-- </form> -->
</header>
