
<form class='log_form' action='/login'>
{{#if credentials.username}}
  <h1>Welcome back {{credentials.username}}!</h1>
<button class='log_button' type="submit" >Log Out!</button>
{{else}}
<button class='log_button' type="submit">Log In!</button>
{{/if}}
</form>
