<header>

{{#if credentials.username}}
  <h1>Welcome back {{credentials.username}}!</h1>
  <a href="/logout">Log Out!</a>
  <a href="/post">Post joke</a>

{{else}}
  <a href="/login">Log In!</a>

{{/if}}
</header>
