<ul class="grid">
  {{#each jokes}}
  <li class=grid__item>
    <article class="card">
      <p class="card__body">{{body}}</p>
      <footer class="card__footer"><cite>{{name}}</cite><img class="card__img" src={{pic}} alt=""></footer>
    </article>
  </li>
  {{/each}}
</ul>
