<h1>Log in</h1>
<form class="form" action="/login/submit" method="POST">
  <label class="form__label" for="username">Username:</label>
  <input class="form__input" id="username" type="text" required autofocus>
  <label class="form__label" for="password">Password:</label>
  <input class="form__input" id="password" type="password" required>
  <button class="form__input form__input--btn" type="submit">Submit</button>
</form>
